body {
    background: #f5f5f5;
    text-align: center;
    font-family: "Arial", sans-serif;
}

.todos-header {
    margin-bottom: -8px;
}

.todos-header .todos-title {
    font-size: 100px;
    color: #ebd7d7;
    padding: 0;
}

.todos-main {
    margin: auto;
    background-color: #fff;
    width: 560px;
    z-index: 2;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Add todos */

.todos-add {
    height: 62px;
    border-bottom: solid 1px #e6e6e6;
}

.todo-add_select-all {
    float: left;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 18px;
    background: url('../images/select-all.png') no-repeat 0 10px;
    border: none;
    outline: none;
    padding: 0;
}

.todo-add_input, .todo-item_text {
    margin-top: 15px;
    font: normal 24px "Arial", sans-serif;
    color: #666;
    background: none;
    overflow: hidden;
    border: none;
    outline: none;
}

.todo-add_input {
    float: right;
    width: 480px;
    margin-right: 20px;
}

.todo-add_input::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
}

.todo-add_input:-ms-input-placeholder {
    color: #ccc;
    font-style: italic;
}

.todo-add_input::-moz-placeholder {
    color: #ccc;
    font-style: italic;
}

.todo-add_input:-moz-placeholder {
    color: #ccc;
    font-style: italic;
}

/* Todos list */

.todos-list {
    min-height: 296px;
}

.todo-item {
    border-bottom: solid 1px #e6e6e6;
    min-height: 57px;
}

.todo-item:hover {
    background: #fafafa;
}

.todo-item_complete {
    display: none;
}

.todo-item_complete + label {
    float: left;
    cursor: pointer;
    background: none;
    border: solid 1px #ccc;
    border-radius: 18px;
    width: 34px;
    height: 34px;
    margin: 12px 11px;
    display: inline-block;
    padding: 0;
}

.todo-item_complete:checked + label {
    background: url('../images/completed.png') center no-repeat;
    border: solid 1px #5dc2af;
}

.todo-item_text {
    text-align: left;
    width: 466px;
    height: 100%;
    margin: 0;
    padding: 16px 0;
}

/*
.todo-item.__ready .todo-item_text {
    color: #ccc;
    text-decoration: line-through;*
}
*/

/* instead of previous */
.todo-item_complete:checked ~ .todo-item_text {
    color: #ccc;
    text-decoration: line-through;
}

.todo-item_remove {
    float: right;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-top: 21px;
    margin-right: 12px;
    background: url('../images/close.png');
    border: none;
    outline: none;
    opacity: 0;
}

.todo-item:hover .todo-item_remove {
    opacity: 1;
}

.todo-item:after {
    content: '';
    display: block;
    clear: both;
}

/* Action bar */

.todos-actions-bar {
    height: 39px;
    border-top: solid 1px #e6e6e6;
}

.todos-actions-bar_counter {
    margin: 12px;
    color: #888;
    font-size: 14px;
    float: left;
    display: inline-block;
}

.todos-filters {
    margin-left: auto;
    display: inline-block;
    overflow: hidden;
}

.todos-filter, .todos-actions-bar_clear-completed {
    cursor: pointer;
    margin: 12px 8px;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    color: #888;
}

.todos-filter:hover,
.todos-filter.__active {
    margin: 8px 0;
    border-radius: 3px;
    padding: 3px 7px;
    border: solid 1px #ebdfdf;
}

.todos-actions-bar_clear-completed {
    float: right;
}

.todos-actions-bar:after {
    content: '';
    display: block;
    clear: both;
}

/* Todos bottom */

.todos-bottom1,
.todos-bottom2 {
    margin: auto;
    background-color: #fff;
    height: 5px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todos-bottom1 {
    width: 556px;
    z-index: 1;
}

.todos-bottom2 {
    width: 554px;
    z-index: 0;
}