body {
    background: #f5f5f5;
    text-align: center;
    font-family: "Arial", sans-serif;
}

.todos-header .todos-title {
    font-size: 100px;
    color: #ebd7d7;
}

.todos-main {
    margin: auto;
    background-color: #fff;
    width: 560px;
    box-shadow: 0 4px 8px #e0e0e0;
}

/* Add todos */

.todos-add {
    height: 60px;
    border-bottom: solid 1px #e6e6e6;
}

.todo-add_select-all {
    float: left;
    width: 24px;
    height: 24px;
    margin: 18px;
    background: url('../images/select-all.png') no-repeat center;
    border: none;
    outline: none;
    padding: 0;
}

.todo-add_input, .todo-item_text {
    margin-top: 15px;
    font: normal 24px "Arial", sans-serif;
    color: #666;
    background: transparent;
    overflow: hidden;
    border: none;
    outline: none;
}

.todo-add_input {
    float: right;
    width: 500px;
}
.todo-add_input::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
}
.todo-add_input:-ms-input-placeholder {
    color: #ccc;
    font-style: italic;
}
.todo-add_input::-moz-placeholder {
    color: #ccc;
    font-style: italic;
}
.todo-add_input:-moz-placeholder {
    color: #ccc;
    font-style: italic;
}

/* Todos list */

.todos-list {
    min-height: 300px;
}

.todo-item {
    border-bottom: solid 1px #e6e6e6;
    height: 59px;
}

.todo-item:hover {
    background: #fafafa;
}

.todo-item_complete {
    width: 36px;
    height: 36px;
    margin: 12px 11px;
    background: url('../images/completed.png');
    float: left;
}

.todo-item_text {
    width: 466px;
    height: 35px;
    resize: none;
}

.todo-item_remove {
    float: right;
    width: 18px;
    height: 18px;
    margin-top: 21px;
    margin-right: 12px;
    background: url('../images/close.png');
    border: none;
    outline: none;
    opacity: 0;
}

.todo-item:hover .todo-item_remove {
    opacity: 1;
}

.todo-item:after {
    content: '';
    display: block;
    clear: both;
}

/* Action bar */

.todos-actions-bar {
    height: 40px;
    border-top: solid 1px #e6e6e6;
}

.todos-actions-bar_counter {
    margin: 12px;
    color: #888;
    font-size: 14px;
    float: left;
    display: inline-block;
}

.todos-filtrs {
    display: inline-block;
}

.todos-filter, .todos-actions-bar_clear-completed {
    padding: 0;
    outline: none;
    font-size: 14px;
    color: #888;
    margin: 12px;
    border: none;
    background: transparent;
}

.todos-filter.__active {
    margin-top: 6px;
    border-radius: 4px;
    padding: 5px 8px;
    border: solid 1px #ebdfdf;
}

.todos-actions-bar_clear-completed {
    float: right;
}