.todos-bottom-shadow {
    margin: auto;
    background-color: #fff;
    height: 5px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todos-bottom-shadow-first {
    width: 556px;
    z-index: 1;
}

.todos-bottom-shadow-second {
    width: 554px;
    z-index: 0;
}