@import "../../config/globals";

.todos-main {
    margin: auto;
    background-color: $c-white;
    width: 560px;
    z-index: 2;
    position: relative;
    box-shadow: 0 2px 4px $c-todos-box-shadow;
}