$c-white: #fff;
$c-gray-very-light: #fafafa;
$c-gray-light: #e6e6e6;
$c-gray: #ccc;
$c-gray-transparent: rgba(0, 0, 0, 0.2);
$c-gray-dark: #888;
$c-gray-very-dark: #666;
$c-green: #5dc2af;
$c-pink: #ebd7d7;