$c-white: #fff;
$c-gray-light: #e6e6e6;
$c-gray: #ccc;
$c-gray-dark: #888;
$c-green: #5dc2af;
$c-pink: #ebd7d7;

$c-todos-main-bg: #fafafa;
$c-todos-box-shadow: rgba(0, 0, 0, 0.2);
$c-todos-title: $c-pink;