.todo-item {
    border-bottom: solid 1px #e6e6e6;
    min-height: 57px;
}

.todo-item:hover {
    background: #fafafa;
}

.todo-item_complete + label {
    width: 34px;
    height: 34px;
    margin: 12px 11px;
    padding: 0;
    background: none;
    border: solid 1px #ccc;
    border-radius: 18px;
}

.todo-item_complete:checked + label {
    background: url('../../../../images/completed.png') center no-repeat;
    border: solid 1px #5dc2af;
}

.todo-item_text {
    width: 466px;
    height: 100%;
    margin: 0;
    padding: 16px 0;
}

.todo-item.__ready .todo-item_text,
.todo-item_complete:checked ~ .todo-item_text {
    color: #ccc;
    text-decoration: line-through;
}

.todo-item_remove {
    float: right;
    width: 18px;
    height: 18px;
    margin-top: 21px;
    margin-right: 12px;
    background: url('../../../../images/close.png') center no-repeat;
    opacity: 0;
}

.todo-item:hover .todo-item_remove {
    opacity: 1;
}

.todo-item:after {
    content: '';
    display: block;
    clear: both;
}