.input-checkbox {
    position: relative;
}
.input-checkbox_target {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.input-checkbox_visual {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}